
body {
  background-size: 100% auto;
  background-color:
}

img {
  border: 1px solid black;
  width: 20em;
  height: auto
}

nav {

}

label {

}

p {

}

ul {

}

ol {

}

li {

}

header {

}

.website-title {
  text-align: center;
}

.page-header {

}

.main {

}

.site-nav {
  
}

.thumbnail {
  width: 10em;
  height: auto;
}

.page-headline {
  text-align: center;
}

.recipe-nav {
  text-align: center;
}

.ingredient-list {

}

.instruction-list {

}

.recipe-collection {

}

.recipe-details {

}

.recipe-thumbnail {

}

.inventory-form {

}

.source-info {

}

.flashed-messages {

}
