<html>
  <head>
    {% if title %}
    <title>{{ title }} - Plentiful Pantry </title>
    {% else %}
    <title>Welcome to Plentiful Pantry!</title>
    {% endif %}
  </head>
    <body>
        <div>Plentiful Pantry:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('ingredients') }}">Ingredient List</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
{% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
