{% extends "base.html" %}

{% block app_content %}
<section class="main">
  <section class="page-headline">
    <h1>Manage Food Inventory</h1>
  </section>

  <section class="inventory-form">

    {% for cat in cat_dict %}
    <p>{{ cat_dict[cat] }}</p>

    <ul class="ingredient-list">
      {% for ingredient in cat %}
      <li>
        <a href="{{ url_for('update_inventory_item', id=ingredient.id) }}"> Update </a>
        {{ ingredient.ingredient.name.capitalize() }}:
        In stock? {{ ingredient.is_present }}
      </li>
      {% endfor %}
    </ul>

    {% endfor %}

  </section>

</section>
{% endblock %}
