{% extends "base.html" %}

{% block app_content %}
<div>
    <h1>Recipes Options  - {{ rec_category.capitalize() }} </h1>

    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        <li><a href="{{ url_for('main.options_category', category=flip_rec_dict[category.name]) }}">{{ category.name }} </a></li>
        {% endfor %}
      </ul>
    </div>

    {% for recipe in recipes %}
    {% include '_result.html' %}
    {% endfor %}
</div>
{% endblock %}
