{% extends "base.html" %}

{% block app_content %}

    <h1>{{ user.username }}'s Recipes  - {{rec_category}} </h1>

    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        <li><a href="{{ url_for('main.options_category', rec_category=flip_rec_dict[category.name]) }}">{{ category.name }} </a></li>
        {% endfor %}
      </ul>
    </div>

    {% for recipe in my_cat_recipes %}
    {% include '_result.html' %}
    {% endfor %}

{% endblock %}
