{% extends "base.html" %}

{% block content %}
<div><p><b>{{ recipe.id }}. {{ recipe.name }}</b></p>
  <p> </p>
  <p> {{ recipe.description }} </p>

  <p> Category: {{ recipe.category }} </p>
  <p> Servings: {{ recipe.recipe_yield }} </p>
<p><u> Ingredients </u></p>
  <ul>
    {% for ingredient in recipe_ingredients %}
    <li>  {{ ingredient.ingredient_text }}</li>
    {% endfor %}
  </ul>
  <p><u> Instructions: </u></p>
  <ol>
    {% for instruction in recipe.instructions %}
    <li>  {{ instruction.text }}</li>
    {% endfor %}
  </ol>
  <img src={{ recipe.image }} alt={{ recipe.name }} style="width:400px;height:auto;">
  <p> Source: <a href={{ recipe.url }}>{{ recipe.source }}</a></p>
  <p><a href="{{ url_for('edit_recipe', id=recipe.id) }}">Edit recipe</a></p>
</div>
{% endblock %}
