{% extends "base.html" %}

{% block content %}
<div><p><b>{{ recipe.id }}. {{ recipe.name }}</b></p>
  <p> </p>
  <p> {{ recipe.description }} </p>
   <img src={{ recipe.image }} alt={{ recipe.name }} style="width:400px;height:auto;">
  <p> Category: {{ recipe.category }} </p>
  <p> Servings: {{ recipe.recipe_yield }} </p>
  <p> Ingredients: </p>
  <ul>
    {% for ingredient in recipe.ingredients %}
    <li>  {{ ingredient.name }}</li>
    {% endfor %}
  </ul>
  <p> Instructions: </p>
  <ol>
    {% for instruction in recipe.instructions %}
    <li>  {{ instruction.text }}</li>
    {% endfor %}
  </ol>
  Source: <a href={{ recipe.url }}>{{ recipe.source }}</a>
</div>
{% endblock %}
